PORT=5000
MONGO_URI=mongodb+srv://ojhashivam936_db_user:sMmmh7gTxKU3HhfX@cluster0.43mrajr.mongodb.net/
JWT_SECRET=4567890dfsgj412ewdasvnmnvcasqewr548yhgfdsafsghju6652ewfsgdfh
NODE_ENV=development
OPENAI_API_KEY=replace_with_openai_key
OPENAI_MODEL=gpt-4o-mini
